@model IEnumerable<SmartKitchen.Models.Produtos>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin"))
{

<p>
	@Html.ActionLink("Create New Product", "Create")
</p>

}




<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Categoria.NomeCateg)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NomeProduto)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ListaDeImagens)
		</th>
				<th>
			@Html.DisplayNameFor(model => model.Descricao)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.IVAVenda)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PrecoVenda)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Stock)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Categoria.NomeCateg)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NomeProduto)
			</td>
			<td>
				
				@foreach (var imagem in item.ListaDeImagens)
				{
					<img src="~/Imagens/@imagem.Img" width="150" height="150" />
				}

			</td>
			
			<td>
				@Html.DisplayFor(modelItem => item.Descricao)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IVAVenda)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PrecoVenda)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Stock)
			</td>
			<td>
				@if(User.IsInRole("Admin"))
				{

				@Html.ActionLink("Edit", "Edit", new { id = item.Prod_ID })
				<span>|</span>
				@Html.ActionLink("Delete", "Delete", new { id = item.Prod_ID })
				}
			</td>
		</tr>
	}

</table>


